<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<!-- 
    THIS FILE IS CONTROLLED BY ANSIBLE
    any local modifications will be overwritten!
-->
<configuration>
     <property>
         <name>dfs.name.dir</name>
         <value>{{ hd_namedir }}</value>
     </property>
     <property>
         <name>dfs.replication</name>
         <value>{{ hdfs_replication | default(3) }}</value>
     </property>
     <property>
         <name>dfs.data.dir</name>
         <value>{{ hd_datadir }}</value>
     </property>

    <!-- setup an exclude file for clean shrink/shutdown -->
	<property>
		<name>dfs.hosts.exclude</name>
		<value>{{ hd_confdir }}/hosts.exclude</value>
	</property>

</configuration>
